@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, input{
    font-family: 'Roboto Mono', monospace;
}
.container{
    position: relative;
    width: 100%;
    background-color:#fff;
    min-height:100vh;

}
.forms-container{
    position:absolute;
    top:20%;
    left:58%;
}
.Container::before{
    content: '';
    position: absolute;
    height: 1000px;
    width: 1000px;
    top:30.6%;
    right:50%;
    background:linear-gradient(-45deg, #26375f 0%, #37508a 100%);
    transform:translateY(-50%);
    border-bottom-right-radius:30%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 5em;
    
}
.title{
    font-size:2.2em;
    color:#444;
    margin-bottom: 10px;
}
.input-field{
    max-width:380px;
    width: 600px;
    height:55px;
    background-color:#F0F0F0;
    margin: 10px 0;
    border-radius: 55px;
    display:grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4em;
    position: relative;
}
 .input-field i{
      text-align: center;
      line-height: 55px;
      color:#acacac;
      font-size:1.5em;
 }
 .input-field input{
      Background :none;
      outline:none;
      border:none;
      line-height: 1;
      font-weight: 700;
      font-size:1.2em;
      color:#333;
 }
 .input-field input:placeholder-shown{
     color:#aaa;
     font-weight: 500;
 }
 .btn{
     width:150px;
     height: 49px;
     outline:none;
     border:none;
     border-radius:48px;
     background-color:#26375f;
     color:white;
     text-transform: uppercase;
     font-weight:700;
     margin:10px 0;
     transition:all 0.5s;
 } 
 .btn:hover{
    background-color:#578aff;
 }
 .social-text{
     padding:0.7em 0;
 }
 .social-media{
     display: flex;
 }
 .social-icon{
     height:46px;
     width:46px;
     border:1px solid #333;
     margin:0 0.5em;
     display:flex;
     justify-content:center;
     align-items:center;
     border-radius:50%;
     text-decoration: none;
     color:#333;
     font-size:1.3em;
     transition:all 0.5s;
 }
 .social-icon:hover{
     color:#3a0c90;
     border-color:#3b5799;
 }
 .image{
     width:530px;
 }
 .panels-container{
    position:absolute;
    top:10%;
    left:5%;
    
 }
 .panel{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
 }
.panel .content{
    color:#fff;
}
.panel h3{
    font-weight:600;
    line-height:1;
    font-size:1.5em;
}
.btn.Transparent{
    background:none;
    border:2px solid #fff;
    width:130px;
    height:41px;
}
.btn a{
    text-decoration:none;
    color:white;
}

/* #responsive */
@media(max-width:600px){
    .container{
        position: relative;
         width: 100%;
    }
    .Container::before{
        content: '';
        position: absolute;
        height: 350px;
        width: 300px;
        top:-40px;
        right:100px;
        background:linear-gradient(-45deg, #26375f 0%, #37508a 100%);
        transform:translateY(-50%);
        border-bottom-right-radius:30%;
    }
    .image{
        display: none;
    }
    .forms-container{
        position:absolute;
        top:40%;
        left:-20px;
    }
    .panel{
        position:absolute;
        left:15px;
        top:-50px;
    }
    #sign-up-button{
        width:180px;
        height: 50px;
    }
    form{
        size: auto;
    }
    
}